<button routerLink="/autor/agregar" class=" btn btn-primary"> Agregar</button>
<table class="table table-striped">
  <thead class="">
      <tr>
          <th scope="col"> Nombre</th>
          <th scope="col"> Apellido </th>
          <th scope="col"> Acciones </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let autor of autores; let i ">
          <td> {{autor.nombre}} </td>
          <td> {{autor.apellido}} </td>
          <td>
            <button [routerLink]="['/autor/editar/', autor.id] " class="btn btn-outline-primary mx-1"> Editar</button>
            <button class="btn btn-outline-danger"> eliminar</button>
          </td>
      </tr>
  </tbody>
</table>
